/* http://www.csstablegenerator.com/?table_id=2 */

html *
{
   font-family: Arial !important;
}

.CSSTable table { border-collapse: collapse; border: 1px solid #000000; margin-left: 20px; }
.CSSTable thead tr:first-child { background-color: #aaaaaa; }
.CSSTable tr:nth-child(even) { background-color: #ffffff; }
.CSSTable tr:nth-child(odd) { background-color: #e5e5e5; }
