<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{ title }}</title>
 <link href="my_styles.css" type="text/css" rel="stylesheet" />
{{ bokeh_js }}
{{ bokeh_css }}
</head>
<body>
<h3>{{ H3_title }}</h3>
{{ plot_div|indent(8) }}
<br />
<div class="CSSTable" >
{{ metadata }}
</div>
<br />
{{ plot_script|indent(8) }}
<p>
{{ footer }}
</p>
</body>
</html>
